.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
    border: 1px solid black;
  }
  
  .logo {
    position: relative;
    /* border: 1px solid green; */
  }